.first {

    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2.25s;
}


.first:hover {

        /* width: 200px; */
background-color: purple;
transform: scale(2) translate(50px, 50px) rotate(45deg);

}